
.container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    background-color: transparent;
    justify-content: center;
    padding: 10px;

    }
    .containerdiv{
        background-color: rgb(245, 245, 245);
        padding: 2rem;
        align-items: stretch;
    }
    #Zaloguj:hover{
        cursor: pointer;
    
    
    }


body{
    background-image: url("background.jpeg");
    background-size: cover;
    
}


#strona{
    background-color: transparent;
    padding: 2.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#input{
    background-color: snow;
    width: 40rem;
    height: 2rem;
    margin-top: 2rem;
    width: 35rem;
}
#mid{
    flex-direction: row;
    justify-content: stretch;
    
}
#przycisk{
    background-color: rgb(38, 255, 49);
    margin-top: 2rem;
    font-size: 1.4rem;
    width: 35rem;
    height: 3rem;
    justify-content : center;
    border: transparent;
}
#przycisk:hover{
    background-color: rgb(148, 255, 154);
    border-radius: 25px;
    margin-top: 2rem;
    font-size: 1.4rem;
    width: 35rem;
    height: 3rem;
    justify-content : center;
    border: transparent;
}

