
#header{
    background-color: burlywood;    
    padding-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 39%;
    
}
body{
    padding: 50%;
}

    
#listindex{
    background-color: rgb(49, 38, 17);
}